@{
    ViewData["Title"] = "Home Page";

    IEnumerable<Product> Products = (IEnumerable<Product>)ViewData["Products"];
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Mike's Cool Coffee Shop</h1>


        <p><a href="/product/" class="btn btn-primary">Menu</a></p>
    </div>
